<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel.mapper.RoomMapper">
    <select id="findRooms" resultType="com.example.hotel.entity.Room">
        SELECT *
        FROM
        rooms
        where 1 = 1
        <if test="roomType != null">
            AND room_type = #{roomType}
        </if>
        <if test="roomNumber != null">
            AND room_number = #{roomNumber}
        </if>
        <if test="rate != null">
            AND rate = #{rate}
        </if>
        ORDER BY
        room_number
        LIMIT
        #{pageSize}
        OFFSET
        #{offSet}
    </select>
</mapper>
