<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.hotel.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (id,username,name, password, email,insert_date,update_date)
        VALUES (UUID(),#{username},#{name},#{password}, #{email}, #{insertDate}, #{updateDate})
    </insert>
    <!-- Select user by email -->
    <select id="selectUserByEmail" resultType="com.example.hotel.entity.User">
        SELECT id, username, email, password
        FROM users
        WHERE email = #{email}
    </select>
</mapper>
